


export ARM_CLIENT_ID=$(bw get item "Terraform Basics" --session $BW_SESSION | jq -r '.fields[] | select(.name=="ARM_CLIENT_ID") | .value')
export ARM_CLIENT_SECRET=$(bw get item "Terraform Basics" --session $BW_SESSION | jq -r '.fields[] | select(.name=="ARM_CLIENT_SECRET") | .value')
export ARM_TENANT_ID=$(bw get item "Terraform Basics" --session $BW_SESSION | jq -r '.fields[] | select(.name=="ARM_TENANT_ID") | .value')
export ARM_SUBSCRIPTION_ID=$(bw get item "Terraform Basics" --session $BW_SESSION | jq -r '.fields[] | select(.name=="ARM_SUBSCRIPTION_ID") | .value')
